<%= breadcrumb([
    link_to(l(:'easy_rake_tasks.views.heading_index'), {:controller => 'easy_rake_tasks', :action => :index}, :title => l(:'easy_rake_tasks.views.heading_index')),
    link_to(l(:'easy_rake_tasks.views.heading_settings', :task_name => @task.caption), {:controller => 'easy_rake_tasks', :action => :new, :type => @task.type, :back_url => params[:back_url]}, :title => l(:'easy_rake_tasks.views.heading_settings', :task_name => @task.caption))]) %>

<h2><%= l(:'easy_rake_tasks.views.heading_settings', :task_name => @task.caption) -%></h2>

<%= labelled_form_for @task, :as => :easy_rake_task, :url => {:controller => :easy_rake_tasks, :action => :create, :id => @task}, :html => {:method => :post, :class => 'tabular form-box', :id => 'easy_rake_task_form', :autocomplete => 'off'} do |f| %>
  <%= error_messages_for @task %>
  <%= hidden_field_tag('back_url', params[:back_url]) unless params[:back_url].blank? %>
  <%= hidden_field_tag('type', params[:type]) unless params[:type].blank? %>

  <%= render :partial => 'form', :locals => {:f => f, :task => @task} %>

  <div class="form-actions">
    <%= f.submit l(:button_save), :class => 'button-positive' %>
    <%= call_hook(:view_easy_rake_tasks_after_submit, {:f => f, :task => @task}) %>
  </div>
<% end %>

<% ### PAGE CUSTOMS ########################################################## -%>

<% content_for :easy_page_layout_service_box_primary_actions do %>
  <%= link_to(l(:'easy_rake_tasks.views.button_index'), {:controller => :easy_rake_tasks, :action => :index}, :class => 'button-positive') %>
<% end %>

<% html_title(l(:'easy_rake_tasks.views.heading_index'), l(:'easy_rake_tasks.views.heading_settings', :task_name => @task.caption)) -%>