<%= breadcrumb([
    link_to(l(:'easy_rake_tasks.views.heading_index'), {:controller => 'easy_rake_tasks', :action => :index}, :title => l(:'easy_rake_tasks.views.heading_index')),
    content_tag(:span, l(:'easy_rake_tasks.views.heading_task_infos', :task_name => @task.caption))]) %>

<h2><%= l(:'easy_rake_tasks.views.heading_task_infos', :task_name => @task.caption) -%></h2>

<%= render :partial => 'easy_rake_tasks/task_infos_index', :locals => {:task_infos => @task_infos_ok, :task => @task, label_scope: 'completed'} %>

<%= render :partial => 'easy_rake_tasks/task_infos_index', :locals => {:task_infos => @task_infos_failed, :task => @task, label_scope: 'failed'} %>

<%= render :partial => @task.additional_task_info_view_path, :locals => {:task => @task} %>
<% ### PAGE CUSTOMS ########################################################## -%>

<% content_for :easy_page_layout_service_box_primary_actions do %>
  <%= link_to(l(:'easy_rake_tasks.views.button_index'), {:controller => :easy_rake_tasks, :action => :index}, :class => 'button-positive', :title => l(:'easy_rake_tasks.views.button_index')) %>
  <%= link_to(l(:button_edit), {:controller => :easy_rake_tasks, :action => :edit, :id => @task}, :class => 'button', :title => l(:button_edit)) %>
  <%= link_to(l(:button_execute), {:controller => 'easy_rake_tasks', :action => :execute, :id => @task, :back_url => url_for({:controller => 'easy_rake_tasks', :action => :task_infos, :id => @task})}, :class => 'button', :title => l(:button_execute)) %>
<% end %>

<% html_title(l(:'easy_rake_tasks.views.heading_index'), l(:'easy_rake_tasks.views.heading_task_infos', :task_name => @task.caption)) -%>