<p><%= f.label :name, l(:label_alerts_name) %><%= f.text_field :name %></p>
<p><%= f.label :color, l(:field_color)  %><%= f.text_field :color, :onclick => "startColorPicker(this)", :onkeyup =>"maskedHex(this)", :style => "background-color:#{@type.color}" -%><%= link_to "", {}, {:class => 'icon icon-color', :href => "javascript:startColorPicker(document.getElementById('alert_type_color'))", :title => l(:title_alert_type_color)}  -%></p>

