<h2><%= l(:label_easy_money_settings)%></h2>
<%= render_tabs easy_money_project_settings_tabs(@project) %>

<% ### PAGE CUSTOMS ########################################################## %>

<% content_for :header_tags do -%>
    <%= stylesheet_link_tag 'easy_money' -%>
    <%= javascript_include_tag 'easy_money', defer: true -%>
<% end -%>

<% content_for :sidebar do -%>
    <%= render :partial => 'easy_money/index_sidebar' -%>
<% end -%>
