<%= labelled_fields_for :time_entry, time_entry do |f| %>
  <% if time_entry.project && time_entry.project.module_enabled?('issue_tracking') -%>
    <div class="combo-container">
      <% selected_issue = time_entry.issue.nil? ? {:name => '', :id => ''} : {:name => time_entry.issue.to_s, :id => time_entry.issue.id.to_s} %>
      <p>
        <%= label_tag :time_entry_issue_id, l(:field_issue), :class => 'required' -%>
        <%= scoped_easy_select_tag('time_entry[issue_id]', @visible_issues, selected_issue,
          url_for(params.to_unsafe_hash.merge({:action => 'change_issues_for_timelog', :format => 'json'})),
          {
            :root_element => 'issues', :include_blank => true,
            :html_options => {:id => 'time_entry_issue_id',
            :required => Setting.timelog_required_fields.include?('issue_id')}
          })
        %>
      </p>
    </div>
  <% else -%>
    <p><%= f.hidden_field :issue_id -%></p>
  <% end -%>
  <p>
    <%= label_tag 'time_entry[spent_on]', l(:field_spent_on) -%><%= f.date_field :spent_on, :size => 10, :required => true, :no_label => true -%><%= calendar_for('time_entry_spent_on') -%>
  </p>
  <div id="time-entry">
    <% tag_name_prefix = 'time_entry' %>
    <%= render(:partial => 'timelog/user_time_entry', :locals => {:f => f, :required => true, :tag_name_prefix => tag_name_prefix, :time_entry => time_entry, :activities => activity_collection(User.current, params["user_role_id_#{tag_name_prefix}"], time_entry.project), :project => time_entry.project, :issue => time_entry.issue}) if time_entry.project -%>
  </div>
<% end %>