<%= labelled_form_for(project, :url => update_custom_fields_form_project_path(project), :html => {:method => :put, :class => 'tabular', :remote => true}) do %>
  <%= hidden_field_tag 'journals_limit', journals_limit %>
  <%= error_messages_for project %>
  <p>
    <%= label_tag 'notes', l(:label_comment) %>
    <%= text_area_tag 'notes', '', cols: 60, rows: 10, class: 'wiki-edit' %>
  </p>
  <p>
    <%= submit_tag l(:button_update), :title => l(:button_update) %>
  </p>
<% end %>
<%= wikitoolbar_for('notes') %>
