<%= title l(:label_version_new) %>
<%= labelled_form_for @version, {:url => easy_versions_path, :html => {:class => 'tabular form-box'}} do |f| %>
  <%= hidden_field_tag(:back_url, easy_versions_path) %>

  <%= render(:partial => 'versions/form', :locals => {:f => f}) %>

  <div class="form-actions">
    <%= f.submit l(:button_create) %>
  </div>
<% end %>
