<div class="easy-contact-form-container">
  <%= title l(:title_reasign_easy_contact, contact: @type.name) %>

  <%= form_tag({}, class: 'tabular') do %>
    <p>
      <%= label_tag 'easy_contact_type_to_id', l(:label_change_easy_contact_type_to) %>
      <%= select_tag 'easy_contact_type_to_id', options_from_collection_for_select(@other_types, :id, :name) %>
    </p>

    <fieldset>
      <legend><%= l(:label_custom_field_mapping) %></legend>
      <div id="custom-field-mapping"></div>
    </fieldset>

    <p>
      <%= submit_tag l(:button_reasign_and_delete_easy_contact) %>
    </p>
  <% end %>

</div>

<script type="application/javascript">
  EASY.schedule.late(function () {
    $("#easy_contact_type_to_id").on('change', function () {
      var url = "<%= custom_field_mapping_easy_contact_type_path(@type) %>?easy_contact_type_to_id=" + this.value;
      $('#custom-field-mapping').empty();
      $('#custom-field-mapping').load(url);
    }).change();
  });
</script>

<% ### PAGE CUSTOMS ########################################################## %>

<%= render 'sidebar' %>
