<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Easy Software</title>

  <style>
    html, body {
      height: 100%;
    }

    body {
      background: #f5f5f5;
      font-family: Arial;
      display: flex;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 1.5em;
      color: #333;
    }

    .main {
      width: 400px;
      margin: 0 auto;
    }

    .box {
      background: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 3px;
    }

    .user {
      margin-bottom: 40px;
      text-align: center;
    }

    .authorize {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      border-radius: 4px;
      margin-top: 10px;
    }

    .authorize:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1><%= l(:label_authorize) %> <%= @easy_oauth_client.name %></h1>

    <div class="box">
      <div class="user">
        <div class="avatar"><%= avatar User.current, size: 64 %></div>
        <div class="name"><%= User.current %></div>
      </div>

      <%= link_to l(:label_authorize), @authorize_link, class: 'authorize' %>
    </div>
  </div>
</body>
</html>
