<% html_title l(:label_bulk_time_entries) %>

<h2><%= l(:label_bulk_time_entries) %></h2>

<div class="box bulk-time-entry-container" id="entry-box">
  <div id="entries">
    <div class="flash notice">
      <ul>
        <li><span><%= l(:label_bulk_time_flash_project) %></span> <%= @time_entry.project.family_name %></li>
        <% if @time_entry.issue && @time_entry.project.module_enabled?('issue_tracking') %>
          <li><span><%= l(:label_bulk_time_flash_issue) %></span> <%= @time_entry.issue.subject %></li>
        <% end %>
        <li><span><%= l(:label_bulk_time_flash_comment) %></span> <%= (@time_entry.comments || '').html_safe %></li>
        <li><span><%= l(:label_bulk_time_flash_user) %></span> <%= @time_entry.user.name %></li>
        <li><span><%= l(:label_bulk_time_flash_hours) %></span> <%= easy_format_hours(@time_entry.hours) %> h</li>
        <li><span><%= l(:label_bulk_time_flash_spent_on) %></span> <%= format_date(@time_entry.spent_on) %></li>
      </ul>
    </div>
    <p>
      <%= link_to(l(:label_bulk_time_add_another), new_easy_time_entry_path(:page_module_uuid => params[:page_module_uuid], :spent_on => @time_entry.spent_on), :class => 'button-positive icon icon-add') %>
      <%= link_to(l(:button_back), params[:back_url], :class => 'button') if params[:back_url] %>
    </p>
  </div>

  <div id="user-spent-time">
    <%= render :partial => "timelog/user_spent_time", :locals => {:spent_on => @time_entry.spent_on, :user => @time_entry.user, :back_url => new_easy_time_entry_path(:spent_on => params[:spent_on])} %>
  </div>
</div>
