<tr>
  <td style='padding: 10px;border: 1px solid black;'><%= format_time(easy_attendance.arrival) %></td>
  <td style='padding: 10px;border: 1px solid black;'><%= format_time(easy_attendance.departure) %></td>
  <td style='padding: 10px;border: 1px solid black;'><%= easy_attendance.user.name %></td>
  <td style='padding: 10px;border: 1px solid black;'><%= easy_attendance.easy_attendance_activity.name %></td>
  <td style='padding: 10px;border: 1px solid black;'><%= easy_attendance.description %></td>
  <% if @any_canceled -%>
    <td style='padding: 10px;border: 1px solid black;'><%= easy_attendance.attendance_status if easy_attendance.cancel_waiting? %></td>
  <% end -%>
</tr>
