<h1><%= link_to(l(:label_alerts_my_reports), @reports_url) -%></h1>

<% @reports.each do |report|
  next if report.entity.nil? %>
  <div>
    <span style="color:<%= report.alert.type.color %>"><%= report.alert.type.translated_name -%></span>
    <%= render :partial => report.alert.rule.get_render_view_email_html, :locals => { :report => report} -%>

    <%= render :partial => 'alert_mailer/easy_query_columns', :locals => { :query => @query, :report => report} -%>
  </div>
<% end -%>
<br />
<%= link_to(@alert.caption, {:controller => 'alerts', :action => 'show', :id => @alert, :only_path => false}, :title => l(:title_alerts_show_alert, :alertname => @alert.caption)) %>