<%= breadcrumb([
    link_to(l(:heading_easy_helpdesk_index), {:controller => 'easy_helpdesk', :action => :index}, :title => l(:heading_easy_helpdesk_index)),
    link_to(l(:heading_easy_helpdesk_projects_index), {:controller => 'easy_helpdesk_projects', :action => :index}, :title => l(:heading_easy_helpdesk_projects_index)),
    link_to(l(:heading_easy_helpdesk_projects_new), {:controller => 'easy_helpdesk_projects', :action => :new}, :title => l(:heading_easy_helpdesk_projects_new))]) %>

<h2><%= l(:heading_easy_helpdesk_projects_new) -%></h2>
<%= form_for(@easy_helpdesk_project, :html => {:class => 'tabular form-box', :id => 'easy_helpdesk_project_form'}) do |f| -%>
  <%= error_messages_for @easy_helpdesk_project %>
  <%= hidden_field_tag('back_url', params[:back_url]) unless params[:back_url].blank? %>

  <div class="gray-background" id="easy_helpdesk_project_form_container">
    <%= render :partial => 'form' -%>
  </div>

  <div class="form-actions">
    <%= f.submit l(:button_save), :class => 'button-positive' %>
  </div>
<% end %>

<% ### PAGE CUSTOMS ########################################################## -%>

<% html_title(l(:heading_easy_helpdesk_index), l(:heading_easy_helpdesk_projects_index), l(:heading_easy_helpdesk_projects_new)) -%>

<% content_for :header_tags do %>
  <%= easy_cocoon_tags %>
<% end %>
