<%
easy_money_rate_types = @project.easy_money_active_rate_types
rate_type_size = easy_money_rate_types.size
total_money = []
total_hours = 0.0 -%>
<h3><%= l(:label_easy_money_project_time_entry_expenses) -%></h3>
<div class="autoscroll">
  <table class="list">
  <thead>
    <tr>
      <th><%= l(:field_user) -%></th>
      <th><%= l(:field_spent_hours) -%></th>
      <% easy_money_rate_types.each do |rate_type| -%>
        <% total_money << 0 -%>
        <th><%= rate_type.translated_name -%></th>
      <% end -%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @project_time_entries.any? %>
      <% @project_time_entries.collect(&:user).uniq.each do |user| -%>
        <tr>
          <td class="column"><%= user.name -%></td>
          <% project_user_time_entries = @project_time_entries.select{|pte| pte.user_id == user.id} -%>
          <% user_hours = project_user_time_entries.inject(0.0){|sum, te| sum += te.easymoney_hours}
          total_hours += user_hours -%>
          <td class="column"><%= l(:label_easy_money_hour, :hours => user_hours.round(2)) -%></td>
          <% easy_money_rate_types.each_with_index do |rate_type, i| -%>
              <%
                user_expenses = 0.0
                project_user_time_entries.each do |time_entry|
                  time_entry.easy_money_time_entry_expenses.each do |time_entry_expense|
                    if time_entry_expense.rate_type_id == rate_type.id
                      user_expenses += time_entry_expense.price(easy_currency_code)
                    end
                  end
                end

                total_money[i] += user_expenses
              %>
            <td class="column"><%= format_easy_money_price(user_expenses, @project, easy_currency_code) -%></td>
          <% end -%>
          <td class="easy-query-additional-ending-buttons"><%= toggle_link content_tag(:span, l(:button_easy_money_project_index_show_details), :class => "tooltip"), "entry-#{user.id}",{:class => 'icon icon-magnifier'}  -%></td>
        </tr>
        <tr id='entry-<%= user.id -%>' style="display:none">
          <td colspan="<%= 3 + rate_type_size -%>">
            <table class="list">
              <thead>
                <tr>
                  <th><%= l(:label_project) -%></th>
                  <th><%= l(:field_spent_on) -%></th>
                  <th><%= l(:field_activity) -%></th>
                  <th><%= l(:field_spent_hours) -%></th>
                  <% easy_money_rate_types.each do |rate_type| -%>
                    <th><%= rate_type.translated_name -%></th>
                  <% end -%>
                </tr>
              </thead>
              <tbody>
                <% project_user_time_entries.each do |user_time_entry| -%>
                  <tr>
                    <td class="column"><%= link_to(user_time_entry.project.name, { :controller => 'projects', :action => 'show', :id => user_time_entry.project.id }, { :class => 'link' }) -%></td>
                    <td class="column"><%= format_date(user_time_entry.spent_on) -%></td>
                    <td class="column"><%= user_time_entry.activity.name -%></td>
                    <td class="column"><%= l(:label_easy_money_hour, :hours => user_time_entry.easymoney_hours) -%></td>
                    <%= time_entry_expenses_columns_per_rate_type(@project, user_time_entry, easy_currency_code) -%>
                  </tr>
                <% end -%>
              </tbody>
            </table>
          </td>
        </tr>
      <% end -%>
    <% else -%>
      <tr><td colspan="<%= 3 + rate_type_size -%>"><%= l(:label_no_data) -%></td></tr>
    <% end -%>
  </tbody>
  <tfoot>
    <tr>
      <td class="column"><%= l(:label_easy_money_total) -%></td>
      <td class="column"><%= l(:label_easy_money_hour, :hours => total_hours.round(2)) -%></td>
      <% total_money.each do |i| -%>
        <td class="column"><%= format_easy_money_price(i, @project, easy_currency_code) -%></td>
      <% end -%>
      <td class="column"></td>
    </tr>
  </tfoot>
</table>
</div>