<h2>
  <%= @author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)).html_safe %>
</h2>

<div id="activity">
  <% @events_by_day.keys.sort.reverse.each do |day| %>
  <h3><%= format_activity_day(day) %></h3>
  <dl>
    <% sort_activity_events(@events_by_day[day]).each do |e, in_group| -%>
      <%= render :partial => 'easy_activities/grouped_event', :locals => {:e => e, :in_group => in_group} %>
    <% end -%>
  </dl>
  <% end -%>
</div>

<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @events_by_day.empty? %>
&nbsp;
<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.to_unsafe_hash.merge(:from => nil, :key => User.current.rss_key) %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, params.to_unsafe_hash.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
<% end %>

<% html_title(l(:label_activity), @author) -%>
