<div class="easy-gantt__legend">
  <div class="splitcontent easy-gantt__legend-symbols">
    <div class="splitcontentleft">
      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('project.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_project') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('project_problem.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_project_problem') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('project_done.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_project_done') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_problem.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_problem') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_done.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_done') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_start_missing.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_start_missing') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_due_missing.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_due_missing') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_parent_dates_missing.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_parent_dates_missing') %></span>
      </div>
    </div>

    <div class="splitcontentright">
      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('movers.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_movers') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_relation_drawer.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_relations_handle') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('task_delay.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_task_delay') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('relation_unlocked.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_relation_unfixed') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('relation_locked.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_relation_fixed') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('milestone.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_milestone') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('milestone_shared.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_milestone_shared') %></span>
      </div>

      <div class="easy-gantt__legend-item">
        <div class="easy-gantt__legend-img">
          <%= image_tag('line_today.png', plugin: 'easy_gantt') %>
        </div>
        <span class="easy-gantt__legend-description"><%= l('easy_gantt.legend.label_today') %></span>
      </div>
    </div>
  </div>
</div>