<p class="contact-detail-container">
  <span><strong><%= entity.class.human_attribute_name(:contract_date) %></strong> : <%= format_date(entity.contract_date) %></span>
  <span><strong><%= entity.class.human_attribute_name(:price) %></strong> : <%= format_price(entity.price, nil, entity: entity) %></span>
  <span><strong><%= entity.class.human_attribute_name(:easy_crm_case_status) %></strong> : <%= entity.easy_crm_case_status %></span>
  <span><strong><%= entity.class.human_attribute_name(:account_manager) %></strong> : <%= entity.assigned_to %></span>
  <% if EasyUserType.easy_type_partner.any? %>
    <span><strong><%= entity.class.human_attribute_name(:external_account_manager) %></strong> : <%= entity.external_assigned_to %></span>
  <% end %>
</p>
