<% if @wiki && @wiki.sidebar -%>
  <div class="wiki">
    <%= textilizable @wiki.sidebar.content, :text %>
  </div>
<% end -%>

<h3><%= l(:label_wiki) %></h3>
<div class="box">
  <%= link_to l(:field_start_page), {:action => 'show', :id => nil}, :class => 'button' %>
  <%= link_to l(:label_index_by_title), {:action => 'index'}, :class => 'button' %>
  <%= link_to l(:label_index_by_date), {:controller => 'wiki', :project_id => @project, :action => 'date_index'}, :class => 'button' %>
</div>
