<div id="list-top">
  <%= yield :easy_page_zone_top_middle %>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft">
    <%= yield :easy_page_zone_middle_left %>
  </div>
  <div id="list-right" class="splitcontentright">
    <%= yield :easy_page_zone_middle_right %>
  </div>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft">
    <%= yield :easy_page_zone_middle2_left %>
  </div>
  <div id="list-right" class="splitcontentright">
    <%= yield :easy_page_zone_middle2_right %>
  </div>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft">
    <%= yield :easy_page_zone_middle3_left %>
  </div>
  <div id="list-right" class="splitcontentright">
    <%= yield :easy_page_zone_middle3_right %>
  </div>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft size-33">
    <%= yield :easy_page_zone_mini_middle3_1 %>
  </div>
  <div id="list-left" class="splitcontentleft size-33">
    <%= yield :easy_page_zone_mini_middle3_2 %>
  </div>
  <div id="list-left" class="splitcontentleft size-33">
    <%= yield :easy_page_zone_mini_middle3_3 %>
  </div>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft size-25">
    <%= yield :easy_page_zone_mini_middle4_1 %>
  </div>
  <div id="list-left" class="splitcontentleft size-25">
    <%= yield :easy_page_zone_mini_middle4_2 %>
  </div>
  <div id="list-left" class="splitcontentleft size-25">
    <%= yield :easy_page_zone_mini_middle4_3 %>
  </div>
  <div id="list-left" class="splitcontentleft size-25">
    <%= yield :easy_page_zone_mini_middle4_4 %>
  </div>
</div>

<div class="splitcontent">
  <div id="list-left" class="splitcontentleft size-2">
    <%= yield :easy_page_zone_mini_middle5_1 %>
  </div>
  <div id="list-left" class="splitcontentleft size-2">
    <%= yield :easy_page_zone_mini_middle5_2 %>
  </div>
  <div id="list-left" class="splitcontentleft size-2">
    <%= yield :easy_page_zone_mini_middle5_3 %>
  </div>
  <div id="list-left" class="splitcontentleft size-2">
    <%= yield :easy_page_zone_mini_middle5_4 %>
  </div>
  <div id="list-left" class="splitcontentleft size-2">
    <%= yield :easy_page_zone_mini_middle5_5 %>
  </div>
</div>

<div id="list-bottom">
  <%= yield :easy_page_zone_bottom_middle %>
</div>
