<h3><%= l(:label_my_account) -%></h3>

<p><%= l(:field_login)%>: <strong><%= link_to_user(@user, :format => :username) -%></strong><br />
  <%= l(:field_created_on)%>: <%= format_time(@user.created_on) -%></p>
