<%= title [l(:label_group_plural), groups_path], l(:label_group_new) %>

<%= labelled_form_for @group, :html => {:class => 'form-box'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form-actions">
    <%= f.submit l(:button_create), :class => 'button-positive' %>
    <%= f.submit l(:button_create_and_continue), :class => 'button', :name => 'continue' %>
  </div>
<% end %>

<% ### PAGE CUSTOMS ########################################################## -%>

<% content_for :easy_page_layout_service_box_primary_actions do %>
  <%= link_to l(:label_group_new), new_group_path, :class => 'button-positive' %>
<% end %>