<div class="contextual">
  <ul id="bulk-selection">
    <% @users.each do |user| %>
        <%= content_tag 'li', link_to_user(user) %>
    <% end %>
  </ul>
</div>
<h2><%= l(:label_update_project_rates_for_selected_users) %></h2>
<%= form_tag(url_for(action: 'projects_update'), id: 'bulk_edit_form', class: 'form-box') do %>
    <%= hidden_field_tag('back_url', params[:back_url]) if params[:back_url] %>
    <%= hidden_field_tag('project_id', @project.id) if @project %>

    <% @users.each do |user| %>
        <%= hidden_field_tag('ids[]', user.id, id: nil) %>
    <% end %>

    <div class="splitcontent tabular">
      <div class="splitcontentleft">
        <% if @projects.any? %>
            <%= toggling_fieldset(l(:label_project_plural), id: 'easy_money_rates_project_ids') do %>
                <%= render_project_nested_lists(@projects) do |p|
                  content_tag('label', check_box_tag('project_ids[]', p.id, true, id: nil) + ' ' + h(p))
                end %>
                <%= hidden_field_tag('project_ids[]', '', id: nil) %>
                <p><%= check_all_links 'easy_money_rates_project_ids' %></p>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag l(:button_submit), :class => 'button-positive' %>
    </div>
<% end %>
