<%= form_tag(settings_edit_path(tab: 'users'), class: 'form-box') do %>
  <div class="box tabular settings">
    <p><%= setting_text_field :max_additional_emails, size: 6 %></p>
    <p><%= setting_check_box :unsubscribe %></p>
  </div>

  <fieldset class="box tabular settings">
    <legend><%= l(:label_default_values_for_new_users) %></legend>
    <p><%= setting_check_box :default_users_hide_mail, label: :field_hide_mail %></p>
    <p><%= setting_select(:default_notification_option, User.valid_notification_options.collect {|o| [l(o.last), o.first.to_s] }) %></p>
    <p>
      <%= hidden_field_tag('easy_setting[default_no_notified_as_previous_assignee]', 0, id: nil) %>
      <%= label_tag('easy_setting[default_no_notified_as_previous_assignee]',
                     check_box_tag('easy_setting[default_no_notified_as_previous_assignee]', '1', EasySetting.value('default_no_notified_as_previous_assignee')) + 
                     l(:label_user_mail_no_notified_as_previous_assignee),
                     { class: 'inline checkbox' }
                   )
      %>
    </p>
    <p><%= setting_select :default_users_time_zone, ActiveSupport::TimeZone.all.collect {|z| [ z.to_s, z.name ] }, label: :field_time_zone, blank: :label_none %></p>
  </fieldset>

  <% if EasyExtensions::EasyProjectSettings.enable_action_cable %>
    <div class="box tabular settings">
      <p>
        <%= label_tag('easy_setting[easy_online_status_expiration_seconds]', l(:label_easy_online_status_expiration_seconds)) %>
        <%= number_field_tag 'easy_setting[easy_online_status_expiration_seconds]', EasySetting.value('easy_online_status_expiration_seconds'), size: 6 %>
        <em class="info"><%= t(:text_easy_online_status_expiration_seconds) %></em>
      </p>
    </div>
  <% end %>

  <div class="form-actions">
    <%= submit_tag l(:button_save), class: 'button-positive' %>
  </div>
<% end %>
