<table class='issue-card'>
  <tbody>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_subject)%>:</td><td class='issue-card__value'>{{subject}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_status)%>:</td><td class='issue-card__value'>{{status}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_priority) %>:</td><td class='issue-card__value'>{{priority}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_assigned_to)%>:</td><td class='issue-card__value'>{{assigned_to}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_author)%>:</td><td class='issue-card__value'>{{author}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_estimated_hours)%>:</td><td class='issue-card__value'>{{estimated_hours}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:label_spent_time)%>:</td><td class='issue-card__value'>{{spent_hours}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_tracker)%>:</td><td class='issue-card__value'>{{tracker}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_project)%>:</td><td class='issue-card__value'>{{project}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_due_date)%>:</td><td class='issue-card__value'>{{due_date}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_start_date)%>:</td><td class='issue-card__value'>{{start_date}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_fixed_version) %>:</td><td class='issue-card__value'>{{fixed_version}}</td></tr>
    <tr class='issue-card__attr'><td class='issue-card__label'><%= l(:field_easy_story_points) %>:</td><td class='issue-card__value'>{{easy_story_points}}</td></tr>
  </tbody>
</table>
