<%= title(l(:heading_easy_entity_actions_new)) %>
<%= form_for(@easy_entity_action, :as => :easy_entity_action, :url => easy_entity_actions_path, :method => :post, :remote => request.xhr?, :html => {:id => 'easy_entity_action_form'}) do |f| %>
  <%= error_messages_for f.object %>

  <%= hidden_field_tag('back_url', params[:back_url]) if params[:back_url] %>

  <div id="easy_entity_action_container">
    <%= render :partial => 'form', :locals => {:easy_entity_action => f.object} %>
  </div>

  <% unless request.xhr? %>
    <p class="buttons">
      <%= f.submit l(:button_create) %>
    </p>
  <% end %>
<% end %>