<% modul_uniq_id ||= '' -%>
<% no_category_links ||= false %>
<div class="categories-list-container autoscroll">
  <% if categories.any?
    last_level, current_cycle = 0, {0 => 'even'}
    final_categories = categories #.collect{|category| (category.child? && !categories.include?(category.parent)) ? category.self_and_ancestors : category}.flatten.uniq -%>
    <table class="list categories easy-knowledge-categories">
      <% if show_header -%>
        <thead>
          <tr>
            <th></th>
            <th><%=l(:field_easy_knowledge_category_name)-%></th>
            <th><%=l(:field_description)-%></th>
            <% unless category_buttons_block1.nil? || category_buttons_block2.nil?-%>
              <th></th>
            <% end -%>
          </tr>
        </thead>
      <% end -%>
      <tbody>
        <% final_categories.each do |category|
          uniq_prefix = "#{controller_name}_#{action_name}_#{modul_uniq_id}"
          level = category.level -%>
          <tr class="idnt-<%= level -%> <%= css_category_classes(category, uniq_prefix) -%>" id="<%= uniq_prefix -%>easy_knowledge_category-<%= category.id -%>"<%= toggle_display_style_row(uniq_prefix, category) if category.child?-%>>
            <td class="has-expander"><div class="row-control"><span class="<%= 'expander' if !category.leaf? -%>" onclick="EASY.utils.toggleTableRowVisibility('<%= uniq_prefix -%>', 'easy_knowledge_category', '<%= category.id -%>', '<%= User.current.id -%>', true);" alt="Expander" title="<%=l :collapse_expand %>" ></span></div></td>
            <td class="name easy-dropper-target" id="<%= dom_id(category) %>" data-easy-knowledge-category-id="<%= category.id %>" data-drop-action="easy_knowledge_category">
              <% if category_name_link_block.nil? || no_category_links -%> <!-- TO DO, want to see first if links are gone for good -->
                <%= category.name -%>
              <% else -%>
                <%= category_name_link_block.call(category) -%>
              <% end -%>
              <%= "(#{@stories_counts[category.id] || 0})" -%>
            </td>
            <td class="easy-knowledge-category-description">
              <% if category_description_block.nil? -%>
                <%= truncate_html(textilizable(category.description), 120) -%>
              <% else -%>
                <%= category_description_block.call(category) -%>
              <% end -%>
            </td>
            <td class="easy-query-additional-ending-buttons">
              <% unless category_buttons_block1.nil?-%>
                <%= category_buttons_block1.call(category) -%>
              <% end -%>
              <% unless category_buttons_block2.nil?-%>
                <%= category_buttons_block2.call(category) -%>
              <% end -%>
            </td>
          </tr>
          <% last_level = level -%>
        <% end -%>
      </tbody>
    </table>
  <% else -%>
    <p class="nodata"><%= l(:label_no_data) -%></p>
  <% end -%>
</div>
