<h2><%= l(:re_artifact_properties_import) %></h2>

<%= l(:re_import_description_of_usage).html_safe %>

<div class="form-box">
  <div class="tabular">
    <%= form_tag({ action: 'import', controller: 'requirements', project_id: @project.id}, multipart: true) do %>
      <div class="box">
        <%= file_field_tag 're_artifact_properties_attachment' %>
      </div>
      <div class="form-actions">
        <%= submit_tag l(:button_import), class: 'button-positive' %>
        <%= link_to( l(:button_export), { action: 'export', controller: 'requirements', project_id: @project.id, format: :xlsx }, { class: 'button' }) %>
      </div>
    <% end %>
  </div>
</div>