<tr><td colspan="2"><%= l(:label_easy_money) -%>:</td></tr>
<tr><td><%= easy_printable_template_link_to_add_token('%easy_money_entity_overview%', f, l(:label_easy_money_entity_overview)) -%></td><td><%= l(:label_easy_money_entity_overview) -%></td></tr>
<tr><td><%= easy_printable_template_link_to_add_token('%easy_money_subprojects_overview%', f, l(:label_easy_money_subprojects)) -%></td><td><%= l(:label_easy_money_subprojects) -%></td></tr>
