<% if User.current.easy_digest_token_expired? %>
  <%= form_tag(account_reset_easy_digest_token_path) do %>
    <%= hidden_field_tag :back_url, params[:back_url] %>

    <%= l(:error_easy_digest_token_expired) %>

    <p>
      <%= label_tag 'password' %>
      <%= password_field_tag 'password' %>
    </p>

    <%= submit_tag l(:button_submit) %>
  <% end %>
<% else %>
  <%=
    link = text_field_tag('webdav_link', webdav_attachment_url(@attachment), class: 'webdav-to-copy one-click-select')
    simple_format l(:text_webdav_modal, link: link), {}, sanitize: false
  %>
<% end %>

