<div class="easy-user-working-time-calendar-explanatory-notes legend">
  <span class="legend-label"><%= l(:label_easy_user_working_time_calendar_explanatory_notes) %></span>
  <span class="legend-item"><%= l(:label_easy_user_working_time_calendar_explanatory_notes_default) -%></span>
  <span class="legend-item today"><%= l(:label_easy_user_working_time_calendar_explanatory_notes_today) -%></span>
  <span class="legend-item weekend"><%= l(:label_easy_user_working_time_calendar_explanatory_notes_weekend) -%></span>
  <span class="legend-item holiday"><%= l(:label_easy_user_working_time_calendar_explanatory_notes_holiday) -%></span>
  <span class="legend-item exception"><%= l(:label_easy_user_working_time_calendar_explanatory_notes_exception) -%></span>
</div>