<ul>
  <% if @diagram %>
    <li class='folder'>
      <a href='#' class='submenu icon icon-list'><%= l('diagram_versions') %></a>
      <ul>
        <% @diagram.diagram_versions.each do |diagram_version| -%>
          <% if @diagram.current_position == diagram_version.position || @diagram.current_position.nil? %>
            <li><a href='#' class='icon-checked disabled' onclick='return false;' ><%= diagram_version.position_with_timestamp %></a></li>
          <% else %>
            <li><%= context_menu_link diagram_version.position_with_timestamp, toggle_position_diagram_path(@diagram.id, back_url: @back_url, position: diagram_version.position) %></li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li><%= context_menu_link l(:button_edit), diagram_path(@diagram, back_url: @back_url), class: 'icon icon-edit' %></li>
    <li><%= context_menu_link l(:button_show), diagram_path(@diagram), remote: true,  class: 'icon icon-eye' %></li>
    <li><%= context_menu_link l(:button_delete), diagram_path(@diagram, back_url: @back_url), method: :delete, data: { confirm: l(:text_are_you_sure) }, class: 'icon icon-del' %></li>
  <% else %>
     <li><%= context_menu_link l(:button_delete), bulk_destroy_diagrams_path(ids: @diagrams.pluck(:id), back_url: @back_url), method: :delete, data: { confirm: l(:text_are_you_sure) }, class: 'icon icon-del' %></li>
  <% end %>
</ul>