<div id="alert-reports-archive">
  <h2><%= l(:label_alerts_my_reports_archive) -%></h2>

  <%= render :partial => 'list', :locals => { :reports => @reports} %>

  <span class="pagination"><%= pagination_links_full @reports_pages, @reports_count %></span>
</div>

<% ### PAGE CUSTOMS ########################################################## %>

<% content_for :easy_page_layout_service_box do %>
  <%= link_to l(:button_alerts_add_new_alert), { :controller => 'alerts', :action => 'new', :for_all => params[:for_all] }, :title => l(:title_alerts_add_new_alert), :class => 'button-positive' -%>
  <%= link_to l(:button_alerts_my_alerts), { :controller => 'alerts', :action => 'index' }, :title => l(:title_alerts_my_alerts), :class => 'button' -%>
  <%= link_to l(:button_alerts_reports), { :controller => 'alert_reports', :action => 'index' }, :title => l(:title_alerts_reports), :class => 'button' -%>
  <%= link_to(l(:button_manage_alerts_for_all), { :controller => 'alerts', :action => 'index', :for_all => 1 }, :title => l(:title_manage_alerts_for_all), :class => 'button') if User.current.allowed_to?(:manage_alerts_for_all, nil, :global => true) -%>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'alerts', :plugin => 'easy_alerts' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar/alerts' %>
<% end %>
