<%= form_tag({:controller => 'easy_issues', :action => 'description_update', :id => @issue}, :method => :post, :id => 'issue_description_form', :class => 'form-box') do %>
  <%= label_tag 'issue_description_textarea', l(:field_description), :class => 'hidden-for-sighted' %>
  <%= text_area_tag 'issue[description]', @issue.description, :id => "issue_description_textarea",
    :class => 'wiki-edit',
    :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min) %>
  <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @issue.description, :form => nil }) %>
  <div class="form-actions">
    <%= submit_tag l(:button_save), :class => 'button-positive' %>
    <%= link_to l(:button_cancel), 'javascript:void(0);', :onclick => "$('#issue_description_form').remove(); $('#show_issue_description').show(); $('.easy-contextual').show(); return false;", :class => 'button' %>
  </div>
<% end %>
<%= wikitoolbar_for('issue_description_textarea') %>
