<ul class="link-list">
  <% changesets.each do |changeset| %>
    <li class="<%= "user-#{changeset.user_id}" %>">
      <%= avatar(changeset.author, :style => :small) -%>
      <div>
        <h4>
          <span class="author"><%= "#{changeset.author}, #{format_time(changeset.committed_on)}" %></span>: <%= link_to_revision(changeset, changeset.repository, :text => "#{l(:label_revision)} #{changeset.format_identifier}") -%>
          <% if changeset.filechanges.any? && User.current.allowed_to?(:browse_repository, changeset.project) %>
            (<%= link_to(l(:label_diff),
                         :controller => 'repositories',
                         :action => 'diff',
                         :id => changeset.project,
                         :repository_id => changeset.repository.identifier_param,
                         :path => '',
                         :rev => changeset.identifier) %>)
          <% end %>
        </h4>
        <div class="description wiki">
          <%= textilizable(easy_simple_format(changeset.comments)) -%>
        </div>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>
