
    <% if @issue.editable? %>
      <% if @issue.safe_attribute? 'subject' %>
        <div class="issue-edit-subject-field">
          <p><%= f.text_field :subject, :required => true %></p>
        </div>
      <% end -%>
      <% if @issue.safe_attribute? 'description' %>
        <p class="description">
          <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
          <span id="issue_description_and_toolbar">

            <% if @issue.new_record? || @issue.description_changed? %>
              <%= f.text_area( :description,
                :cols => 60,
                :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                :placeholder => l(:field_description),
                :class => 'wiki-edit',
                :no_label => true) %>
              <%= wikitoolbar_for('issue_description', preview_text_path, {:attachment_reminder => true}) %>
            <% else %>
            <%= link_to('', {:controller => 'easy_issues', :action => 'toggle_description', :id => @issue, :element => 'issue_description_and_toolbar'}, :class => 'icon icon-edit', :title => l(:button_edit), :remote => true, :id => 'description_toggler') unless @issue.new_record? %>
            <% end -%>
          </span>
        </p>
      <% end -%>

      <%= call_hook(:view_edit_issue_form_description_bottom, f: f) %>

    <% end %>

    <%= render_hidden_issue_attributes_for_edit(@issue, f) %>

<div id="attributes" class="attributes">
  <% if @issue.safe_attribute_names.include?('activity_id') && User.current.allowed_to?(:edit_issue_fixed_activity, @project) %>
    <div>
      <%= render :partial => 'timelog/time_entry_activity', :locals => { :tag_name_prefix => 'issue', :entity => @issue, :activity_collection => @project.activities_per_role(User.current, 'xAll'), :container_id => nil, :project => @project, :options => {:hide_role_select => true}} -%>
    </div>
  <% end %>
  <%= render :partial => 'edit_form_updatable_attributes', :locals => {:show_on_more_form => true} %>
</div>
