<%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
  <div id="issue_timeentry_fields">
    <%= toggling_container("#{dom_id(@time_entry)}_edit_issue_timeentry_fields", User.current, {:heading => l(:label_time_entry_plural), :wrapping_heading_element_classes => ' icon icon-time-add', :default_button_state => !in_mobile_view?, :ajax_call => false}) do %>
      <%= content_tag :p, :class => 'issue-edit-time-entry-spent_on' do %>
        <%= time_entry.text_field :spent_on, :value => (@time_entry && @time_entry.spent_on) || User.current.today , :size => 10, :required => true -%><%= calendar_for('time_entry_spent_on') -%>
      <% end if EasyGlobalTimeEntrySetting.value('time_entry_spent_on_at_issue_update_enabled', User.current.roles_for_project(@time_entry.project)) %>
      <%= render :partial => 'issues/edit_issue_time_entry_visible', :locals => {:f => f, :time_entry => @time_entry} %>
      <%= render :partial => 'issues/edit_issue_time_entry_hidden', :locals => {:f => f, :time_entry => @time_entry} %>
    <% end -%>
  </div>
<% end %>

<script type="application/javascript">
  EASY.schedule.late(function(){
    $('#issue_timeentry_fields .timeentry-activity').change(function(){
      fillCustomFieldsFormTextAreasFromCKEditor(this.closest('form'));
      $.ajax({url: '<%= j new_easy_time_entry_path(:activity_changed => '1', :only_custom_fields => '1', :format => 'js').html_safe %>', data: $('form#issue-form input[name^=time_entry],select[name^=time_entry]').serialize()});
    });
  });
</script>
