<div id="easy-page-template">
  <%= content_tag :h1, l(:label_easy_page_template_edit, :pagename => @page.translated_name) %>
  <%= breadcrumb [
    link_to(l('breadcrumb.label.easy_pages_administration'), { :controller => 'easy_pages', :action => 'index' }, { :title => l('breadcrumb.title.easy_pages_administration') }),
    link_to(l('breadcrumb.label.easy_page_templates', :pagename => @page.translated_name), {:controller => 'easy_page_templates', :action => 'index', :page_id => @page.id }, { :title => l('breadcrumb.title.easy_page_templates', :pagename => @page.translated_name) }),
    content_tag(:span, l('breadcrumb.label.easy_page_templates_edit', :templatename => @page_template.template_name))
  ] -%>

  <%= form_for(@page_template, :html => {:class => 'tabular form-box'}) do |f| %>
    <%= error_messages_for @page_template %>
    <%= f.hidden_field :easy_pages_id, :value => params[:page_id] %>

    <%= render :partial => 'form', :locals => {:f => f}  %>

    <div class="form-actions"><%= f.submit l(:button_update), :class => 'button-positive' %></div>
  <% end %>
</div>

<% ### PAGE CUSTOMS ########################################################## %>
