<%= title [l(:label_easy_user_type_plural), easy_user_types_path], l(:label_easy_user_type_new) %>

<%= labelled_form_for @easy_user_type, :html => {:class => 'form-box'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form-actions"><%= submit_tag l(:button_create), :class => 'button-positive' %></div>
<% end %>

<% content_for :header_tags do %>
  <%= easy_cocoon_tags %>
<% end %>