<%= render partial: 'easy_meetings/header_scripts' %>

<h2><%= @easy_room.name_with_capacity %> <%= link_to('', easy_room_path(@easy_room, :format => :qr), :remote => true, :title => l(:title_other_formats_links_qr), :class => 'icon icon-qr') %></h2>
<div class="easy-calendar-header">
  <div class="floatleft">
    <a class="button easy-cal-prev">&lt;</a>
    <span class="easy-cal-title"></span>
    <a class="button easy-cal-next">&gt;</a>

    <div class="button-group" style="display:inline">
      <%= render :partial => 'easy_calendar/zoom_buttons', :locals => {:settings => {:default_view => 'agendaWeek'}} %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="room-cal-<%= @easy_room.id %>" class="easy-calendar"></div>

<script type="text/javascript">
  EASY.schedule.require(function () {
    $("#room-cal-<%= @easy_room.id %>").easyCalendar({
      enabledCalendars: <%= (['room_meetings']).to_json.html_safe %>,
      calendarTypes: <%= EasyCalendar::AdvancedCalendar.calendars_data(self).to_json.html_safe %>,
      events: <%= {:url => room_meetings_feed_path(:room_id => @easy_room)}.to_json.html_safe %>,
      roomId: <%= @easy_room.id %>,
      roomName: '<%= j @easy_room.name %>',
      columnFormat: <%= { month: "dddd", week: "#{to_js_date_format(short_date_format)}", day: "dddd, #{to_js_date_format(short_date_format)}" }.to_json.html_safe %>,
      height: 740
    });
  }, jQueryPluginGetter("easyCalendar"));
</script>

<% content_for :easy_page_layout_service_box do %>
  <%= link_to l(:label_rooms_availability), availability_easy_rooms_path, :class => 'button', :title => l(:label_rooms_availability) %>
<% end %>
