<!DOCTYPE html>
<html lang="<%= current_language %>">
<%= render partial: 'layouts/base_html_header' %>
<body class="<%= body_css_classes %> status-410 nosidebar">
<div id="wrapper">
  <div id="wrapper2">
    <div id="wrapper3">
      <div id="main">
        <div id="content">
          <div class="easy-content-page">
            <table id="login_form_container">
              <tr>
                <td>
                  <i class="icon icon-warning red" style="font-size: 48pt"></i>
                  <h2><%= l('locked_page.heading') %></h2>
                  <p><%= l('locked_page.notice') %></p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

