<% query = @easy_page_modules_data[block_name][:query] %>

<%=
  module_params = params[page_module.module_name]
  hidden_field_tag "#{page_module.module_name}[current_tag]", (module_params && module_params['current_tag']), class: 'additional-data-for-module-reloading'
%>

<% if query %>
  <%= render 'common/charts/gauge_meter',
        modul_uniq_id: modul_uniq_id.underscore,
        chart_label: settings['name'],
        value: @easy_page_modules_data[block_name][:value],
        max_value: @easy_page_modules_data[block_name][:max_value] %>

  <div class="text-center">
    <span class="entity-array">
      <% settings['tags'] && settings['tags'].each do |tag_idx, tag_options| %>
        <% if tag_options['name'].present? %>
          <%=
            additional_params = request.query_parameters
            additional_params[:project_id] = @project
            additional_params[page_module.module_name] = { current_tag: tag_idx }

            link_to tag_options['name'], update_my_page_module_view_path(page_module.uuid, additional_params), remote: true
          %>
        <% end %>
      <% end %>
    </span>
    <p>
      <%= l('easy_page_module.generic_gauge.label_total_made') %>:
      <%= link_to format_number(@easy_page_modules_data[block_name][:value], nil, humanize: EasySetting.value(:chart_numbers_format)), (query.path rescue nil), target: '_blank' %> |
      <%= l('easy_page_module.generic_gauge.label_plan') %>: <%= format_number(@easy_page_modules_data[block_name][:max_value], nil, humanize: EasySetting.value(:chart_numbers_format)) %>
    </p>
  </div>
<% else %>
  <%= l(:label_easy_page_module_settings_missing) %>
<% end %>
