<%= render :partial => 'easy_queries/easy_query_index', :locals => {:query => @query, :easy_query_name => l(:label_easy_money_expected_expenses)} %>

<div id="easy_money_other_expenses">
  <%= render :partial => 'easy_queries/easy_query_entities_list', :locals => {query: @query, entities: @entities, entity_pages: @entity_pages, entity_count: @entity_count, options: {hascontextmenu: true}} -%>
</div>

<span class="pagination">
  <%= pagination_links_full @entity_pages, @entity_count, :query => @query, :entities => @entities %>
</span>

<%= render(:partial => 'easy_queries/easy_query_export_format_links', :locals => {:query => @query}) -%>

<% ### PAGE CUSTOMS ########################################################## %>

<%= context_menu({:controller =>'context_menus', :action => 'easy_money_expected_expenses', :money_entity_type => @money_entity_type }, '#easy_money_expected_expenses') -%>
