<% entries, entries_by_day = @easy_page_modules_data[block_name][:entries], @easy_page_modules_data[block_name][:entries_by_day] %>
  <% if entries.any? %>
    <div class="autoscroll">
      <table class="list time-entries">
      <tbody>
        <% entries_by_day.keys.sort.reverse.each do |day| %>
          <tr class="odd">
            <td><strong><%= day == User.current.today ? l(:label_today).titleize : format_date(day) %></strong></td>
            <td class="filler1">
            </td>
            <td class="filler2">
            </td>
            <td class="hours"><em><%= easy_format_hours(entries_by_day[day].sum(&:hours).to_f) %></em></td>
            <td></td>
          </tr>
          <% entries_by_day[day].each do |entry| -%>
            <tr class="time-entry" style="border-bottom: 1px solid #f5f5f5;">
              <td class="activity"><%= entry.activity %></td>
              <td class="subject"><span><%= entry.project %></span> <%= link_to_issue(entry.issue, :truncate => 50) if entry.issue %></td>
              <td class="comments"><%= (entry.comments || '').html_safe %></td>
              <td class="hours"><%= easy_format_hours(entry.hours) %></td>
              <td class="fast-icons">
                <% if entry.editable_by?(user) -%>
                  <%= link_to('', edit_easy_time_entry_path(entry),
                    :title => l(:button_edit), :class => 'icon icon-edit') %>
                  <%= link_to('', easy_time_entry_path(entry),
                    :data => {:confirm => l(:text_are_you_sure)},
                    :method => :delete,
                    :title => l(:button_delete),
                    :class => 'icon icon-del') %>
                <% end -%>
              </td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
    </div>
  <% end %>
  <p class="small">
    <%= link_to(l(:label_timelog_view_all), easy_time_entries_path(:only_me => true, :set_filter => '1', :spent_on => @easy_page_modules_data[block_name][:period])) %>
  </p>
