<% selected_values.each do |selected_id, selected_value| %>
  <span class="easy-lookup-selected-value-wrapper easy-lookup-<%= field_id %>-<%= selected_id %>-wrapper">
    <input type="hidden" name="<%= field_name %>" value="<%= selected_id %>" class="serializable-<%= field_id %>" />
    <span class="display-name"><%= selected_value %></span>
    <span class="dont-copy">
      <% if show_delete_link %>
        <%= link_to('', 'javascript:void(0)', class: 'icon icon-del', onclick:
            "event.stopPropagation();
            EASY.modalSelector.removeSelectedModalEntity('.easy-lookup-#{field_id}-#{selected_id}-wrapper', 'entity-#{selected_id}');
            EASY.modalSelector.updateHiddenField('#{field_id}');")
        %>
      <% end %>
    </span>
  </span>
<% end unless selected_values.blank? %>
