<%= javascript_tag do %>
  var workflowOptions = JSON.parse('<%= workflow_options_json.html_safe %>');
<% end %>
<div class="autoscroll">
  <table class="list workflows transitions transitions-<%= name %>">
    <thead>
      <tr>
        <th>
          <%= link_to_function('', "toggleCheckboxesBySelector('table.transitions-#{name} input[type=checkbox]:not(:disabled)')",
                                                              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", :class => 'icon icon-checked') %>
          <%=l(:label_current_status)%>
        </th>
        <th colspan="<%= @statuses.length %>"><%=l(:label_new_statuses_allowed)%></th>
      </tr>
      <tr>
        <td></td>
        <% @statuses.each_with_index do |new_status, position| %>
        <td style="width:<%= 75 / @statuses.size %>%;">
          <%= link_to_function('', "toggleCheckboxesBySelector('table.transitions-#{name} input[type=checkbox]:not(:disabled).new-status-#{new_status.id}')",
                                                          :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", :class => 'icon icon-checked') %>
          <span class="select-workflow-status-<%= position %>" data-values-selector="<%= "table.transitions select[id$='_#{new_status.id}_always']" %>">
            <%= new_status.name %>
          </span>
        </td>
        <% end %>
      </tr>
    </thead>
    <% transition_counts = workflows.each_with_object(Hash.new(0)) {|w,memo| memo[[w.old_status, w.new_status]] += 1} %>
    <tbody>
      <% ([nil] + @statuses).each_with_index do |old_status, position| %>
      <% next if old_status.nil? && name != 'always' %>
      <% old_status_id = old_status.nil? ? 0 : old_status.id %>
      <tr>
        <td class="name">
          <%= link_to_function('', "toggleCheckboxesBySelector('table.transitions-#{name} input[type=checkbox]:not(:disabled).old-status-#{old_status_id}')",
                                                              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", :class => 'icon icon-checked') %>

          <span class="select-workflow-status select-workflow-status-<%= position %>" data-values-selector="<%= "table.transitions select[id^='transitions_#{old_status_id}_']" %>">
            <% if old_status %>
              <% old_status_name = old_status.name %>
            <%= old_status_name %>
              <% else %>
            <% old_status_name = l(:label_issue_new) %>
              <%= content_tag('em', old_status_name) %>
            <% end %>
          </span>
        </td>
        <% for new_status in @statuses -%>
        <% checked = (old_status == new_status) || (transition_counts[[old_status, new_status]] > 0) %>
        <td class="<%= checked ? 'enabled' : '' %>" title="<%= old_status_name %> &#187; <%= new_status.name %>">
          <%= transition_tag transition_counts[[old_status, new_status]], old_status, new_status, name %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
