<% # encoding: utf-8 %>
<div id="budgetsheet">
  <%= render :partial => 'easy_queries/easy_query_index', :locals => {:query => @query, :easy_query_name => @easy_query_name} %>
  <%= render @query, :options => { :render_index => false, :sumarize_total => true } %>
</div>

<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do  -%>
  <%= render(:partial => 'budgetsheet/all_users_queries') if User.current.allowed_to_globally_view_all_time_entries? %>
  <%= render(:partial => 'sidebar/saved_easyqueries_by_type', :locals => {:query_class => @query.class, :project => @project}) -%>
<% end -%>

<%= context_menu easy_time_entries_context_menu_path %>
