<%= title l(:heading_test_case_new) %>

<%= labelled_form_for([@project, @test_case], html: {multipart: true, id: 'test_case_form', class: 'tabular'}) do |f| %>
  <%= error_messages_for @test_case %>

  <div class="box">
    <%= render partial: 'form', locals: {test_case: @test_case} %>
  </div>

  <div class="form-actions">
    <%= submit_tag l(:button_create), title: l(:button_create), class: 'button-positive' %>
  </div>
<% end %>
<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
