<div class="conflict">
  <%= l(:notice_easy_crm_update_conflict) %>
  <% if @conflict_journals.present? %>
    <div class="conflict-details">
      <% @conflict_journals.sort_by(&:id).each do |journal| %>
        <p><%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></p>
        <% if journal.visible_details.any? %>
          <ul class="details">
            <% easy_journal_details_to_strings(journal.visible_details, false, :entity => @easy_crm_case).each do |string| %>
              <li><%= string %></li>
            <% end %>
          </ul>
        <% end %>
        <%= textilizable(journal, :notes) unless journal.notes.blank? %>
      <% end %>
    </div>
  <% end %>
</div>
<p>
  <label><%= radio_button_tag 'conflict_resolution', 'overwrite' %> <%= l(:text_issue_conflict_resolution_overwrite) %></label><br />
  <% if @easy_crm_case.notes.present? %>
    <label><%= radio_button_tag 'conflict_resolution', 'add_notes' %> <%= l(:text_issue_conflict_resolution_add_notes) %></label><br />
  <% end %>
  <label><%= radio_button_tag 'conflict_resolution', 'cancel' %> <%= l(:text_issue_conflict_resolution_cancel, :link => link_to_entity(@easy_crm_case)).html_safe %></label>
</p>
<p><%= submit_tag l(:button_submit) %></p>
