<%
  original_value = @original_value
  input_name = "#{@page_module.module_name}[translations]#{@keys.map { |key| "[#{key}]" }.join}"
%>
<%= form_tag({}, method: :post, remote: true) do %>
  <div class="box tabular" id="easy_translation_used_translation_container">
    <div class='splitcontent'>
      <div class="splitcontentleft">
        <p id="easy_translation_original_value_field">
          <%= label_tag(:easy_translations_original_value, l(:label_easy_translation_original_value)) %>
          <%= text_field_tag("#{@page_module.module_name}#{@keys.map { |key| "[#{key}]" }.join}", original_value) %>
        </p>
      </div>
      <div class="splitcontentright">
        <p id="easy_translation_add_translation_select" style="<%= 'display:none' if @available_locales.empty? %>">
          <%= label_tag(:add_translation, l(:text_easy_translation_add_translation)) %>
          <%= select_tag(:add_translation,
                         options_for_select(@available_locales.collect { |i| [@translated_langs_from_cache[i.to_s], i.to_s] }),
                         include_blank: true) %>
        </p>
      </div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="form_translated_field splitcontent">
      <%= render(partial: 'easy_page_module_translations/form_translated_field',
                 locals: { input_name: input_name },
                 collection: @translations,
                 as: :translation ) %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  EASY.schedule.late(function(){
    $("#add_translation").change(function(event) {
      if(event.target.value !== '') {
        $.post("<%=j easy_page_module_translations_add_path(input_name: input_name, module_class: @page_module.class.to_s) %>", { locale: event.target.value });
      }
    });
  });
</script>
