<ul>
  <% if @easy_helpdesk_project %>
    <li><%= context_menu_link l(:button_update), {:controller => 'easy_helpdesk_projects', :action => 'edit', :id => @easy_helpdesk_project}, :class => 'icon icon-edit' %></li>
  <% end %>

  <% if !@trackers.nil? && @trackers.size > 1 %>
    <li class="folder">
      <a href="#" class="submenu icon icon-tracker"><%= l(:field_tracker) %></a>
      <ul>
        <% @trackers.each do |t| -%>
          <li><%= context_menu_link t.name, {:controller => 'easy_helpdesk_projects', :action => 'bulk_update', :ids => @easy_helpdesk_project_ids, :easy_helpdesk_project => {'tracker_id' => t}, :back_url => @back_url}, :method => :post,
              :selected => (@easy_helpdesk_project && t == @easy_helpdesk_project.tracker) %></li>
        <% end -%>
      </ul>
    </li>
  <% end %>

  <% if @assignables.present? -%>
    <li class="folder">
      <a href="#" class="submenu icon icon-user"><%= l(:field_assigned_to) %></a>
      <ul>
        <% if @assignables.include?(User.current) %>
          <li><%= context_menu_link "<< #{l(:label_me)} >>", {:controller => 'easy_helpdesk_projects', :action => 'bulk_update', :ids => @easy_helpdesk_project_ids, :easy_helpdesk_project => {'assigned_to_id' => User.current}, :back_url => @back_url}, :method => :post %></li>
        <% end %>
        <% @assignables.each do |u| -%>
          <li><%= context_menu_link h(u.name), {:controller => 'easy_helpdesk_projects', :action => 'bulk_update', :ids => @easy_helpdesk_project_ids, :easy_helpdesk_project => {'assigned_to_id' => u}, :back_url => @back_url}, :method => :post,
              :selected => (@easy_helpdesk_project && u == @easy_helpdesk_project.assigned_to) %></li>
        <% end -%>
        <li><%= context_menu_link l(:label_nobody), {:controller => 'easy_helpdesk_projects', :action => 'bulk_update', :ids => @easy_helpdesk_project_ids, :easy_helpdesk_project => {'assigned_to_id' => 'none'}, :back_url => @back_url}, :method => :post,
            :selected => (@easy_helpdesk_project && @easy_helpdesk_project.assigned_to.nil?) %></li>
      </ul>
    </li>
  <% end %>

  <li><%= context_menu_link l(:button_delete), {:controller => 'easy_helpdesk_projects', :action => 'destroy', :ids => @easy_helpdesk_project_ids, :back_url => @back_url},
      :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon-del' %></li>

</ul>