<% hidden_fields ||= []; allowed_trackers ||= []; block_name ||= '' %>
<% issue.estimated_hours = estimated_hours || 0.0 %>

<div class="issue_updatable_fields tabular">
  <div id="<%= "#{block_name}issue-dependent-fields" %>">
    <%= labelled_fields_for block_name+'issue', issue do |f| %>
      <div class="properties_fields">
        <%= toggling_container("issue-updatable-attributes-heading-#{params[:format]}", User.current, {:heading => l(:label_issue_updatable_attributes_heading), :wrapping_heading_element_classes => ' icon icon-workflow'}) do  %>
          <%= hidden_field_tag 'show_fields_option', show_fields_option %>
          <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:project_id) %>">
            <% selected_project_value = (issue.project.nil? ? {:name => '', :id => ''} : {:name => issue.project.name, :id => issue.project.id}) %>
            <%= label_tag "#{block_name}issue[project_id]", l(:field_project) %>
            <%= easy_select_tag(
              "#{block_name}issue[project_id]", selected_project_value, projects.nil? ? nil : project_tree_options_for_select(projects, {:selected => issue.project}),
              easy_autocomplete_path('add_issue_projects'),
              :onchange => "$.ajax({url: '#{j(url_for({:controller => :my, :action => :update_my_page_new_issue_dependent_fields})).html_safe}', type: 'post', data: $('##{block_name}issue_project_id').closest('form').serialize()})",
              :html_options => {:id => "#{block_name}issue_project_id"}, :root_element => 'projects') -%>
          </p>
          <% if issue.safe_attribute?('tracker_id') || issue.tracker_id_changed? %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:tracker_id) %>">
              <%= f.select :tracker_id, trackers_options_for_select(issue), {:required => true},
                {:onchange => "$.post('#{j(url_for({:controller => :my, :action => :update_my_page_new_issue_dependent_fields})).html_safe}', $(this).closest('form').serialize(), function(data) {$('#{block_name}issue-dependent-fields').html(data)})"} -%>
            </p>
          <% end %>
          <% if issue.safe_attribute?('assigned_to_id') && (issue.tracker.nil? || !issue.tracker.easy_distributed_tasks?) %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:assigned_to_id) %>">
              <% assignable_users_for_options = options_for_select(assignable_users.collect{|i| [i.name, i.id]}, issue.assigned_to_id)
              if assignable_users.include?(user)
                assignable_users_for_options = content_tag(:option, "<< #{l(:label_me)} >>".html_safe, :value => User.current.id) + assignable_users_for_options
                end %>
              <%= f.select :assigned_to_id, assignable_users_for_options, :include_blank => true, :required => required_attributes.include?('assigned_to_id') %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('priority_id') %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:priority_id) %>">
              <%= f.select :priority_id, options_for_select(issue_priorities.collect{|i| [i.name, i.id]}, issue.priority_id), {:required => true} %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('status_id') %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:status_id) %>">
              <%= f.select :status_id, options_for_select(allowed_statuses.collect{|s| [s.name, s.id]}, issue.status_id), :required => true %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('parent_issue_id') %>
            <p class="attribute easy-autocomplete-parent_id" style="<%= 'display:none;' if hidden_fields.include?(:parent_issue_id) %>">
              <% if issue.parent_issue
                   parent_val = EasyExtensions::FieldFormats::EasyLookup.entity_to_lookup_values(issue.parent_issue, display_name: :subject)
                 end %>
              <% parent_val ||= {} %>
              <%= label_tag :parent_issue_id, l(:field_parent_issue) %>
              <%= easy_modal_selector_field_tag('Issue', 'link_with_subject', "#{block_name}issue[parent_issue_id]", "#{block_name}issue_parent_issue_id", parent_val, multiple: false, url: { modal_project_id: issue.project.id, parent_selection: true }) %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('start_date') && (only_selected || required_attributes.include?('start_date')) %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:start_date) %>">
              <%= f.text_field :start_date, :value => issue.start_date, :size => 10, :required => required_attributes.include?('start_date') %><%= calendar_for(block_name+'issue_start_date') %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('due_date') && (only_selected || required_attributes.include?('due_date')) %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:due_date) %>">
              <%= f.text_field :due_date, :value => issue.due_date, :size => 10, :required => required_attributes.include?('due_date') %><%= calendar_for(block_name+'issue_due_date') %>
            </p>
          <% end %>
          <% if issue.project && issue.project.module_enabled?(:time_tracking) && issue.safe_attribute_names.include?('estimated_hours') && (issue.tracker.nil? || !issue.tracker.easy_distributed_tasks?) && (only_selected || required_attributes.include?('estimated_hours')) %>
            <p class="attribute" style="<%= 'display:none;' if hidden_fields.include?(:estimated_hours) %>">
              <%= f.text_field :estimated_hours, :size => 3, :placeholder => l(:field_hours), :required => required_attributes.include?('estimated_hours') %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('category_id') && issue.project && issue.project.issue_categories.any? %>
            <p class="select-with-button" style="<%= 'display:none;' if hidden_fields.include?(:category) %>">
              <%= f.select :category_id, issue_category_tree_options_for_select(issue.project.issue_categories, :selected => issue.category_id), {:include_blank => true, :required => required_attributes.include?('category_id')}, {:tabindex => 60} %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('easy_email_to') && issue.project %>
            <p class="attribute" <%= 'style="display:none;"'.html_safe if hidden_fields.include?(:easy_email_to) %>>
              <%= f.text_area :easy_email_to, {value: issue.easy_email_to, required: required_attributes.include?('easy_email_to'), class: 'auto-expand'} %>
            </p>
          <% end %>
          <% if issue.safe_attribute?('easy_email_cc') && issue.project %>
            <p class="attribute" <%= 'style="display:none;"'.html_safe if hidden_fields.include?(:easy_email_cc) %>>
              <%= f.text_area :easy_email_cc, {value: issue.easy_email_cc, required: required_attributes.include?('easy_email_cc'), class: 'auto-expand'} %>
            </p>
          <% end %>

          <% if issue.project && issue.project.module_enabled?(:time_tracking) && issue.safe_attribute_names.include?('activity_id') %>
            <div>
              <p class="attribute" id="<%= "#{block_name}issue-time-entry-activity-container" %> ">
                <%= render :partial => 'timelog/time_entry_activity', :locals => {:tag_name_prefix => "#{block_name}issue", :entity => issue, :activity_collection => issue.project.activities_per_role(User.current, 'xAll'), :container_id => "#{block_name}issue-time-entry-activity-container", :project => issue.project, :options => {:hide_role_select => true}} %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if issue.safe_attribute? 'custom_field_values' %>
        <%= render partial: 'easy_page_modules/entity_create_new_shown_custom_fields',
                   locals: {
                       entity: issue,
                       block_name: block_name,
                       only_selected: only_selected,
                       custom_field_values: custom_field_values,
                       shown_custom_field_ids: shown_custom_field_ids
        } %>
      <% end %>

    <% end %>
  </div>
</div>
