<% scope = Issue.visible(User.current, :project => project, :with_subprojects => Setting.display_subprojects_issues?) -%>
<tr>
  <td class="bigger">
    <%= format_locale_number(project.completed_percent_with_easy_extensions(:include_subprojects => true), :percentage => true, :precision => 0) -%></td>
  <th class="highlight-desc">
    <label><%= l(:by_issues, :scope => [:label_project_completion]) %></label>
  </th>
</tr>
<tr>
  <td class="bigger"><%= scope.opened.count -%></td>
  <th class="highlight-desc">
    <label><%= l(:label_issues_opened) %></label>
  </th>
</tr>
<tr>
  <td class="bigger"><%= scope.closed.count -%></td>
  <th class="highlight-desc">
    <label><%= l(:label_issues_closed) %></label>
  </th>
</tr>
<tr>
  <td class="bigger"><%= scope.opened.overdue.count -%></td>
  <th class="highlight-desc">
    <label><%= l(:label_issues_overdue) %></label>
  </th>
</tr>
