<%
entries = TimeEntry.where(["#{TimeEntry.table_name}.user_id = ? AND #{TimeEntry.table_name}.spent_on BETWEEN ? AND ?", user.id, Date.today - 6, Date.today]).
  preload([:activity, :project, {:issue => [:tracker, :status]}]).
  order("#{TimeEntry.table_name}.spent_on DESC, #{Project.table_name}.name ASC, #{Tracker.table_name}.position ASC, #{Issue.table_name}.id ASC")
entries_by_day = entries.group_by(&:spent_on)
%>
<div id="mypage-time" class="box">
  <h3><%=l(:label_spent_time)%><span class="daynum"> <%= l(:label_last_n_days, 7) %></span>: <%= easy_format_hours(entries.sum(&:hours).to_f) %></h3>
  <% if entries.any? %>
    <table class="list time-entries">
      <tbody>
        <% entries_by_day.keys.sort.reverse.each do |day| %>
          <tr class="odd">
            <td><strong><%= day == User.current.today ? l(:label_today).titleize : format_date(day) %></strong></td>
            <td class="filler1">
            </td>
            <td class="filler2">
            </td>
            <td class="hours"><em><%= easy_format_hours(entries_by_day[day].sum(&:hours).to_f) %></em></td>
          </tr>
          <% entries_by_day[day].each do |entry| -%>
            <tr class="time-entry" style="border-bottom: 1px solid #f5f5f5;">
              <td class="activity"><%= entry.activity %></td>
              <td class="subject"><span><%= entry.project %></span><%= link_to_issue(entry.issue, :truncate => 50) if entry.issue %></td>
              <td class="comments"><%= textilizable entry.comments %></td>
              <td class="hours"><%= easy_format_hours(entry.hours) %></td>
              <td class="icons">
                <% if entry.editable_by?(@user) -%>
                  <%= link_to image_tag('edit.png', :alt => l(:button_edit)), edit_easy_time_entry_path(entry),
                    :title => l(:button_edit) %>
                  <%= link_to image_tag('delete.png', :alt => l(:button_delete)), easy_time_entry_path(entry),
                    :data => {:confirm => l(:text_are_you_sure)},
                    :method => :post,
                    :title => l(:button_delete) %>
                <% end -%>
              </td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  <% end %>
</div>
